body{
  background-color: #2f2e2e;
  color: #f0f0f0;
  overflow: hidden;
}

h1{
  text-align: left;
  color: #f0f0f0;
}

.todo-wrapper{
  background-color: #454545;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(36, 35, 35);
}

.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(87, 87, 87);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item{
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-input-item label{
  margin-bottom: 10px;
  font-weight: bold;
  color: #f0f0f0;
}

.todo-input-item input {
  border: none;
  padding: 8px;
  width: 250px;
  background-color: #3f3f3f;
  color: #f0f0f0;
}

.todo-input-item input:focus{
  outline: 2px solid rgb(0, 240, 132);
}

.primary-btn{
  background-color: rgb(0, 240, 132);
  color: black;
  border-radius: 0px;
  border: none;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primary-btn:hover{
  background-color: rgb(4, 202, 114);
}

.btn-area{
  margin-bottom: 10px;
}

.secondaryBtn{
  background-color: rgb(102, 102, 102);
  color: white;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.btn-area .active{
  background-color: rgb(4, 202, 114);
}

.todo-list{
  display: flex;
  flex-direction: column;
}

.todo-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #515151;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(49, 48, 48);
}

.todo-list-item h3{
  font-size: 25px;
  color: rgb(0, 240, 132);
  font-weight: bold;
  margin: 0px;
}

.todo-list-item p{
  margin-top: 8px;
  font-size: 14px;
  color: rgb(189, 188, 188);
}

.icon{
  font-size: 35px;
  cursor: pointer;
  color: #f0f0f0;
}

.icon:hover{
  color: red;
}

.check-icon{
  font-size: 22px;
  cursor: pointer;
  color: rgb(0, 240, 132);
  margin-left: 10px;
  margin-bottom: 5px;
}

.check-icon:hover{
  color: rgb(4, 202, 114);
}
